*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.dashboard-title {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 5px solid hsl(204, 2%, 43%);
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 500;
  color: hsl(0, 100%, 100%);
  margin-top: 5vh;
}

.btn, .dashboard-btn {
  cursor: pointer;
  border: 0;
  background-color: hsl(206, 9%, 15%);
  color: hsl(0, 100%, 100%);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 100vw;
}
.btn:hover, .dashboard-btn:hover {
  opacity: 0.675;
}

.dashboard-btn {
  border: 2.5px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  background-color: hsl(204, 2%, 43%);
  padding: 0.5rem;
}

.list-item {
  cursor: pointer;
  background-color: hsl(0, 100%, 100%);
  color: hsl(206, 9%, 15%);
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: 0.675rem;
  height: 30px;
  list-style: none;
}

.form-input {
  outline: none;
  border: 0;
  border-radius: 0.253125rem;
  padding: 0.25em;
}
.form-input:focus {
  box-shadow: 0 0 0 2px hsl(100, 100%, 40%);
}

.content-container {
  display: grid;
  justify-content: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
.page-header__logo {
  width: 55px;
}
.page-header__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: hsl(0, 100%, 100%);
}
.page-header__mobile {
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-size: contain;
}
.page-header__mobile[data-icon=open] {
  background-image: url(../../../images/hamburger.svg);
}
.page-header__mobile[data-icon=close] {
  z-index: 9999;
  background-image: url(../../../images/x.svg);
}

.mobile-links {
  z-index: 999;
  position: absolute;
  color: hsl(0, 100%, 100%);
  background-color: hsl(204, 2%, 43%);
  border-left: 5px solid hsl(0, 100%, 100%);
  inset: 0 0 0 20vw;
  display: grid;
  align-items: center;
}
.mobile-links__list {
  font-size: 0.975rem;
  text-transform: uppercase;
  list-style: none;
  display: grid;
  gap: 2rem;
  margin-left: 3rem;
}
.mobile-links__list a {
  color: hsl(0, 100%, 100%);
}
.mobile-links__list a:hover {
  color: hsl(100, 100%, 40%);
}
.mobile-links__list li {
  cursor: pointer;
}

table {
  text-align: center;
}

table,
th,
td {
  border: 2px solid hsl(0, 100%, 100%);
  border-collapse: collapse;
}

body {
  font-family: "Exo 2", sans-serif;
  min-height: 100vh;
  background-color: hsl(206, 9%, 15%);
  margin-inline: 1.5rem;
  overflow-y: hidden;
}

.index {
  border: 2px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  width: min(400px, 100vw - 3rem);
  margin: 0 auto;
  margin-top: 25%;
  padding: 1.75rem;
  background-color: hsl(204, 2%, 43%);
  font-size: 0.875rem;
  display: grid;
  gap: 2rem;
}
.index__form {
  display: grid;
  gap: 2.25rem;
}
.index__form .index-input {
  display: grid;
  gap: 1.125rem;
}
.index__form .index-input__groups {
  display: grid;
  gap: 0.375rem;
}

.create {
  border: 2px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  width: min(400px, 100vw - 3rem);
  margin: 0 auto;
  margin-top: 25%;
  padding: 1.75rem;
  background-color: hsl(204, 2%, 43%);
  font-size: 0.875rem;
}
.create__form {
  display: grid;
  gap: 2.25rem;
}
.create__form .create-input {
  display: grid;
  gap: 1.125rem;
}
.create__form .create-input__groups {
  display: grid;
  gap: 0.375rem;
}
.create__form .create-input__names {
  display: flex;
  width: 107.5%;
}
.create__form .create-input__names .create-input__groups .create-input__input {
  width: 85%;
}
.create__button {
  display: grid;
}
.create .sign-up {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

.thanks {
  display: grid;
  gap: 1rem;
  text-align: center;
  margin-top: 25vh;
}
.thanks__text {
  font-size: 2rem;
  color: hsl(0, 100%, 100%);
}
.thanks__button {
  background-color: hsl(204, 2%, 43%);
  width: min(60%, 250px);
  margin: 0 auto;
}

.dashboard {
  color: hsl(0, 100%, 100%);
  text-align: center;
  display: grid;
  place-content: center;
}
.dashboard__message {
  margin-top: 10vh;
  font-size: 1.5rem;
}
.dashboard__punch {
  display: grid;
  gap: 1rem;
  width: 200px;
  margin-top: 3.5rem;
}
.dashboard__punch .date-time {
  margin-bottom: 2rem;
  border: 2.5px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  background-color: hsl(204, 2%, 43%);
  padding: 1.125rem;
  background-color: hsla(204, 2%, 43%, 0.275);
}
.dashboard__punch .date-time .time-block {
  margin-bottom: 0.375rem;
  font-size: 1.325rem;
  font-weight: 600;
  color: hsl(120, 60%, 60%);
}
.dashboard__punch .punch-buttons {
  display: grid;
  gap: 0.75rem;
}
.dashboard__punch .punch-buttons .punch-buttons-row {
  display: grid;
  gap: 0.75rem;
}

.account-info {
  font-size: 0.875rem;
  margin: 0 auto;
}
.account-info__main {
  margin-top: 5vh;
  padding: 1rem;
  border: 2.5px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  background-color: hsl(204, 2%, 43%);
  padding: 1rem;
}
.account-info__main .main-links {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  width: 62.5%;
  margin: 0 auto;
}
.account-info__main .main-links .card-item {
  border: 2.5px solid hsl(206, 9%, 15%);
}
.account-info__main .sub-cards {
  color: hsl(0, 100%, 100%);
}
.account-info__main .sub-cards .card {
  margin-top: 1rem;
  border: 2.5px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  background-color: hsl(206, 9%, 15%);
  padding: 1rem;
}
.account-info__main .sub-cards .card .sub-links {
  display: grid;
  gap: 0.25rem;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}
.account-info__main .sub-cards .card .sub-links .sub-card-item {
  padding: 7.5px;
}
.account-info__main .sub-cards .card .sub-card {
  margin-top: 1rem;
}
.account-info__main .sub-cards .card .sub-card .position-responsibilities,
.account-info__main .sub-cards .card .sub-card .department-list {
  list-style-position: inside;
}
.account-info__main .sub-cards .card .sub-card__table {
  width: 100%;
}
.account-info__main .sub-cards .card .sub-card__table .sub-card__table-header {
  text-decoration: underline;
}
.account-info__main .sub-cards .card .sub-card__table .sub-card__table-header,
.account-info__main .sub-cards .card .sub-card__table .sub-card__table-data {
  padding: 5px;
}

.check {
  color: hsl(0, 100%, 100%);
  font-size: 0.875rem;
  margin: 0 auto;
}
.check__current {
  margin-bottom: 5rem;
}
.check__current .current-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 0.575fr;
}
.check__current .current-container .check-form {
  display: grid;
  gap: 0.5rem;
}
.check__current .current-container .check-form__group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.425fr 1fr;
}
.check__current .current-container .check-form__group input {
  width: 100px;
}
.check__current .current-container .check-form__button {
  width: 70%;
  margin-top: 0.5rem;
}
.check__current .current-container .check-result {
  display: grid;
  font-weight: 500;
}
.check__current .current-container .check-result .check-calculation {
  color: hsl(100, 100%, 40%);
}
.check .check-table {
  width: 100%;
}
.check .check-table__header {
  text-decoration: underline;
}
.check .check-table__header, .check .check-table__data {
  padding: 10px 0;
}

.timesheet {
  color: hsl(0, 100%, 100%);
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.timesheet__entry {
  border: 2.5px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  background-color: hsl(204, 2%, 43%);
  padding: 0.375rem;
  padding: 0.75rem 0;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  gap: 0.25rem;
  text-align: center;
  justify-items: center;
  font-weight: 500;
  font-size: 0.875rem;
}
.timesheet__entry .entry-date,
.timesheet__entry .entry-data,
.timesheet__entry .entry-total {
  display: grid;
  align-items: center;
}
.timesheet__entry .divider {
  background-color: hsl(0, 100%, 100%);
  width: 2px;
}
.timesheet__entry .entry-times-container[data-lunch=true] {
  margin-top: 0.5rem;
}
.timesheet__entry .entry-times-container {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.timesheet__entry .entry-times-container .entry-data {
  color: hsl(206, 9%, 15%);
  background-color: hsl(0, 100%, 100%);
  text-align: left;
  border-radius: 0.675rem;
  position: relative;
  padding: 0.5rem 0.15rem;
}
.timesheet__entry .entry-times-container .entry-data::before {
  content: "";
  position: absolute;
  top: -52.5%;
  left: 0;
  font-size: 0.675rem;
  color: hsl(0, 100%, 100%);
}
.timesheet__entry .entry-times-container .entry-lunch-in,
.timesheet__entry .entry-times-container .entry-lunch-out {
  margin-top: 0.5rem;
}
.timesheet__entry .entry-times-container .entry-clock-in::before {
  content: "Clock In";
}
.timesheet__entry .entry-times-container .entry-clock-out::before {
  content: "Clock Out";
}
.timesheet__entry .entry-times-container .entry-lunch-in::before {
  content: "Lunch In";
}
.timesheet__entry .entry-times-container .entry-lunch-out::before {
  content: "Lunch Out";
}
.timesheet__entry .entry-lunch[data-lunch=false] {
  display: none;
}
.timesheet__entry .entry-total {
  color: hsl(100, 100%, 40%);
}

.add {
  color: hsl(0, 100%, 100%);
  font-size: 0.875rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 2.5rem;
  margin: 0 auto;
}
.add__auto {
  display: grid;
  gap: 1rem;
}
.add .entry {
  display: grid;
  gap: 0.5rem;
  width: 65%;
  margin: 0 auto;
}
.add .entry__group {
  display: grid;
  gap: 0.25rem;
}
.add .entry__button {
  margin-top: 0.5rem;
}

.entry__edit {
  cursor: pointer;
  display: grid;
  align-self: center;
  border: 2.5px solid hsl(0, 100%, 100%);
  border-radius: 0.675rem;
  background-color: hsl(204, 2%, 43%);
  padding: 0;
  border-radius: 100vw;
  padding: 0.25rem 0.5rem;
  color: hsl(0, 100%, 100%);
}
.entry__edit:hover {
  opacity: 0.675;
}

.mobile-hide,
.hide {
  display: none;
}

.hide-element {
  opacity: 0;
  cursor: default;
}

.active {
  background-color: hsl(100, 100%, 40%);
}

.active-page {
  color: hsl(100, 100%, 40%);
}

.error {
  box-shadow: 0 0 3.5px 1.25px red;
}

@media (min-width: 750px) {
  .page-header {
    margin-bottom: 2.5rem;
  }
  .page-header__logo {
    width: 60px;
  }
  .page-header__title {
    font-size: 3rem;
  }
  .page-header__mobile {
    width: 60px;
    height: 60px;
  }
  .dashboard-title {
    font-size: 1.75rem;
  }
  .dashboard-btn {
    font-size: 1.25rem;
  }
  .mobile-links__list {
    font-size: 1.125rem;
  }
  .dashboard__message {
    font-size: 2.125rem;
  }
  .dashboard__punch {
    width: calc(300px + 1.25rem);
  }
  .dashboard__punch #time,
  .dashboard__punch #date {
    font-size: 1.5rem;
  }
  .dashboard__punch .punch-buttons {
    margin-top: 1.5rem;
    gap: 1.25rem;
  }
  .dashboard__punch .punch-buttons .punch-buttons-row {
    grid-auto-flow: column;
  }
  .dashboard__punch .punch-buttons .punch-buttons-row button {
    width: 150px;
  }
  .account-info {
    width: 675px;
  }
  .account-info .list-item {
    font-size: 1.25rem;
  }
  .account-info .main-links {
    grid-auto-flow: column;
    width: 100%;
  }
  .account-info .main-links .list-item {
    padding: 1.125rem 0;
  }
  .account-info .sub-cards {
    font-size: 1.125rem;
  }
  .account-info .sub-cards .sub-card {
    margin-top: 3rem;
  }
  .account-info .sub-cards .sub-card__table .sub-card__table-header,
  .account-info .sub-cards .sub-card__table .sub-card__table-data {
    padding: 10px;
  }
  .check {
    font-size: 1.25rem;
    width: 675px;
  }
  .check .check-table {
    font-size: 1.25rem;
  }
  .check .check-table__header, .check .check-table__data {
    padding: 11.25px 2.75px;
  }
  .timesheet {
    width: 675px;
  }
  .timesheet__entry {
    font-size: 1.125rem;
  }
  .timesheet__entry .entry-times-container .entry-data {
    width: 100px;
  }
  .timesheet__entry .entry-times-container .entry-data::before {
    font-size: 1rem;
  }
  .add {
    width: 675px;
  }
  .add .entry {
    font-size: 1.125rem;
    gap: 0.75rem;
  }
  .add .entry__group {
    gap: 0.5rem;
  }
  .add .entry__button {
    margin-top: 1rem;
  }
  .entry__edit {
    width: 75px;
  }
}
@media (min-width: 1100px) {
  .page-header {
    margin-bottom: 5rem;
  }
  .page-header__logo {
    width: 70px;
  }
  .page-header__title {
    font-size: 3.5rem;
  }
  .dashboard-title {
    font-size: 2rem;
  }
  .dashboard-btn {
    font-size: 1.375rem;
  }
  .mobile-links__list {
    font-size: 1.5rem;
  }
  .dashboard__message {
    font-size: 2.5rem;
  }
  .dashboard__punch {
    width: calc(400px + 1.75rem);
  }
  .dashboard__punch #time,
  .dashboard__punch #date {
    font-size: 1.75rem;
  }
  .dashboard__punch .punch-buttons {
    margin-top: 1.5rem;
    gap: 1.75rem;
  }
  .dashboard__punch .punch-buttons .punch-buttons-row button {
    width: 200px;
  }
  .account-info {
    width: 800px;
  }
  .account-info .list-item {
    font-size: 1.5rem;
  }
  .account-info .main-links .list-item {
    padding: 1.2rem 0;
  }
  .account-info .sub-cards {
    font-size: 1.25rem;
  }
  .account-info .sub-cards .sub-card {
    margin-top: 5rem;
  }
  .account-info .sub-cards .sub-card__table .sub-card__table-header,
  .account-info .sub-cards .sub-card__table .sub-card__table-data {
    padding: 12.5px;
  }
  .check {
    font-size: 1.675rem;
    width: 800px;
  }
  .check .check-table {
    font-size: 1.5rem;
  }
  .check .check-table__header, .check .check-table__data {
    padding: 12.5px 5px;
  }
  .timesheet {
    width: 800px;
  }
  .timesheet__entry {
    font-size: 1.475rem;
  }
  .timesheet__entry .entry-times-container .entry-data {
    width: 125px;
  }
  .timesheet__entry .entry-times-container .entry-data::before {
    font-size: 1.125rem;
  }
  .add {
    width: 800px;
  }
  .add .entry {
    font-size: 1.5rem;
    gap: 1rem;
  }
  .add .entry__group {
    gap: 0.75rem;
  }
  .add .entry__button {
    margin-top: 1.25rem;
  }
  .entry__edit {
    width: 85px;
  }
  .mobile-hide {
    display: block;
  }
  .page-header__mobile {
    pointer-events: none;
  }
  .page-header__mobile[data-icon=open],
  .page-header__mobile[data-icon=close] {
    opacity: 0;
    cursor: default;
  }
  .mobile-links {
    border: none;
    background-color: transparent;
  }
  .mobile-links__list {
    position: absolute;
    display: flex;
    gap: 0.575rem;
    right: 1.5rem;
    top: 3rem;
    font-size: 0.9125rem;
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */