.account-info {
  font-size: $fsText;
  // margin: 0 auto;
  &__main {
    @include contentContainer(1rem);
    background-color: transparent;

    .main-links {
      text-transform: uppercase;
      @include gridGap(0.5rem);
      align-items: center;
      width: 72.5%;
      margin: 0 auto;
      .card-item {
        border: 2.5px solid $colorBackground;
      }
    }
    .sub-cards {
      color: $colorPrimaryContent;
      .line {
        border: 2px solid $colorPrimaryContent;
        margin: 1.5rem 0;
      }
      .card {
        // margin-top: 1rem;
        @include contentContainer(1rem, $colorSecondaryContent);

        .sub-links {
          @include gridGap(0.25rem);
          grid-auto-columns: minmax(0, 1fr);
          grid-auto-flow: column;

          .sub-card-item {
            padding: 7.5px;
          }
        }
        .sub-card {
          margin-top: 1rem;
          .position-responsibilities,
          .department-list {
            list-style-position: inside;
          }
          h2 {
            text-transform: uppercase;
            text-decoration: underline;
          }

          &__table {
            width: 100%;
            .sub-card__table-header {
              text-decoration: underline;
            }
            .sub-card__table-header,
            .sub-card__table-data {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
