.add {
  color: $colorPrimaryContent;
  font-size: 0.875rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 2.5rem;

  .manual {
    margin-bottom: 2.5rem;

    &__entry {
      max-width: 500px;
    }
  }

  &__auto {
    @include gridGap(1rem);
  }
  .entry {
    display: grid;
    gap: 0.5rem;
    width: 65%;
    margin: 0 auto;
    &__group {
      display: grid;
      gap: 0.25rem;
    }
    &__button {
      margin: 0 auto;
      margin-top: 0.5rem;
      width: 250px;
    }
  }
}
.entry__edit {
  cursor: pointer;
  display: grid;
  align-self: center;
  @include contentContainer();
  border-radius: 100vw;
  padding: 0.25rem 0.5rem;
  color: $colorPrimaryContent;
  &:hover {
    opacity: 0.675;
  }
  .add__button {
    margin: 0 auto;
    width: 250px;
  }
}
