.check {
  color: $colorPrimaryContent;
  font-size: $fsText;
  &__current {
    margin-bottom: 4rem;

    .current-container {
      display: grid;
      place-content: center;

      .check-form {
        @include gridGap(0.5rem);

        &__group {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 0.425fr 1fr;

          input {
            width: 150px;
          }
        }
        &__button {
          width: 175px;
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
        }
      }
      .check-result-group {
        display: grid;

        font-weight: $fwMedium;
        .check-result {
          display: flex;
          gap: 0.25rem;
        }
        .check-calculation {
          color: $colorOutline;
        }
      }
    }
  }
  .check-table {
    width: 100%;
    &__header {
      text-decoration: underline;
    }

    &__header,
    &__data {
      padding: 10px 0;
    }
  }
}
