@media (max-height: 350px) {
  .main-container {
    padding-bottom: 3rem;
  }
  .mobile-links__list {
    padding: 1.5rem 0;
  }
}

@media (max-width: 1200px) {
  .mobile-links {
    z-index: 1;
    background-color: $colorSecondaryContent;
    border-left: 5px solid $colorPrimaryContent;
    inset: 0 0 0 20vw;
    display: none;
    align-items: center;
    &__list {
      flex-direction: column;
      font-size: 0.975rem;
      text-transform: uppercase;
      @include gridGap(2rem);
      margin-left: 3rem;
    }
  }
}

@media (min-width: 750px) {
  .page-header {
    margin-bottom: 7.5rem;
    &__logo {
      width: 60px;
    }
    &__title {
      font-size: 3rem;
    }
    &__mobile {
      width: 60px;
      height: 60px;
    }
  }
  .dashboard-title {
    font-size: 1.75rem;
  }
  .dashboard-btn {
    font-size: 1.25rem;
  }
  .mobile-links__list {
    font-size: 1.125rem;
  }
  .container-main {
    margin-inline: 2.5rem;
  }
  .time-entry {
    gap: 1.25rem;
  }

  .index,
  .create {
    font-size: 1.05rem;
  }

  .dashboard-container {
    .dashboard {
      padding: 4rem 6rem;
      &__message {
        font-size: 2.125rem;
      }
      &__punch {
        #time {
          font-size: 1.5rem;
        }
        #date {
          font-size: 1.25rem;
        }

        .punch-buttons {
          margin-top: 1.5rem;
          gap: 1.25rem;

          .punch-buttons-row {
            grid-auto-flow: column;

            button {
              width: 150px;
            }
          }
        }
      }
    }
  }
  .account-info {
    .list-item {
      font-size: 1.25rem;
    }
    .main-links {
      grid-auto-flow: column;
      width: 100%;
      .list-item {
        padding: 1.125rem 0;
      }
    }
    .sub-cards {
      font-size: 1.125rem;

      .sub-card {
        margin-top: 3rem;
        &__table {
          .sub-card__table-header,
          .sub-card__table-data {
            padding: 10px;
          }
        }
      }
    }
  }

  .check {
    font-size: 1.25rem;
    .current-container {
      grid-auto-flow: column;
      grid-template-columns: 1fr 0.575fr;
      .check-form {
        &__group {
          input {
            width: 200px;
          }
        }
        &__button {
          margin-top: 2rem;
          width: 250px;
        }
      }
      .check-result {
        flex-direction: column;
      }
    }
    .check-table {
      font-size: 1.25rem;
      &__header,
      &__data {
        padding: 11.25px 2.75px;
      }
    }
  }
  .timesheet {
    &__entry {
      font-size: 1.125rem;
      .entry-times-container {
        .entry-data {
          width: 115px;
          &::before {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .add {
    .manual {
      margin-bottom: 4.5rem;
    }

    .entry {
      font-size: 1.125rem;
      gap: 0.75rem;

      &__group {
        gap: 0.5rem;
      }
      &__button {
        margin-top: 1rem;
        width: 350px;
      }
      &__edit {
        width: 75px;
      }
    }
    &__button {
      width: 350px;
    }
  }
}

@media (min-width: 1200px) {
  .page-header {
    margin-bottom: 9.25rem;
    &__logo {
      width: 70px;
    }
    &__title {
      font-size: 3.5rem;
    }
  }
  .container-main {
    margin-inline: 5rem;
  }
  .dashboard-title {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }

  .mobile-links__list {
    font-size: 1.5rem;
  }

  .timesheet {
    &__entry {
      .entry-times-container {
        .entry-data {
          width: 145px;
        }
      }
    }
  }

  // FOR NAV BAR
  .mobile-links {
    display: grid !important;
  }
  .page-header__mobile {
    pointer-events: none;
  }
  .page-header__mobile[data-icon="open"],
  .page-header__mobile[data-icon="close"] {
    opacity: 0;
    cursor: default;
  }
}
