@media (min-width: 750px) {
  .page-header {
    margin-bottom: 2.5rem;
    &__logo {
      width: 60px;
    }
    &__title {
      font-size: 3rem;
    }
    &__mobile {
      width: 60px;
      height: 60px;
    }
  }
  .dashboard-title {
    font-size: 1.75rem;
  }
  .dashboard-btn {
    font-size: 1.25rem;
  }
  .mobile-links__list {
    font-size: 1.125rem;
  }
  .dashboard {
    &__message {
      font-size: 2.125rem;
    }
    &__punch {
      width: calc(150px * 2 + (1.25rem));
      #time,
      #date {
        font-size: 1.5rem;
      }

      .punch-buttons {
        margin-top: 1.5rem;
        gap: 1.25rem;

        .punch-buttons-row {
          grid-auto-flow: column;

          button {
            width: 150px;
          }
        }
      }
    }
  }

  .account-info {
    .list-item {
      font-size: 1.25rem;
    }

    width: 675px;
    // margin: 0 auto;
    .main-links {
      grid-auto-flow: column;
      width: 100%;
      .list-item {
        padding: 1.125rem 0;
      }
    }
    .sub-cards {
      font-size: 1.125rem;

      .sub-card {
        margin-top: 3rem;
        &__table {
          .sub-card__table-header,
          .sub-card__table-data {
            padding: 10px;
          }
        }
      }
    }
  }

  .check {
    font-size: 1.25rem;
    width: 675px;
    .check-table {
      font-size: 1.25rem;
      &__header,
      &__data {
        padding: 11.25px 2.75px;
      }
    }
  }
  .timesheet {
    width: 675px;
    &__entry {
      font-size: 1.125rem;
      .entry-times-container {
        .entry-data {
          width: 100px;
          &::before {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .add {
    width: 675px;
    .entry {
      font-size: 1.125rem;
      gap: 0.75rem;
      &__group {
        gap: 0.5rem;
      }
      &__button {
        margin-top: 1rem;
      }
    }
  }
  .entry__edit {
    width: 75px;
  }
}

@media (min-width: 1100px) {
  .page-header {
    margin-bottom: 5rem;
    &__logo {
      width: 70px;
    }
    &__title {
      font-size: 3.5rem;
    }
  }
  .dashboard-title {
    font-size: 2rem;
  }
  .dashboard-btn {
    font-size: 1.375rem;
  }
  .mobile-links__list {
    font-size: 1.5rem;
  }
  .dashboard {
    &__message {
      font-size: 2.5rem;
    }
    &__punch {
      width: calc(200px * 2 + (1.75rem));
      #time,
      #date {
        font-size: 1.75rem;
      }

      .punch-buttons {
        margin-top: 1.5rem;
        gap: 1.75rem;

        .punch-buttons-row {
          button {
            width: 200px;
          }
        }
      }
    }
  }
  .account-info {
    .list-item {
      font-size: 1.5rem;
    }
    width: 800px;
    .main-links {
      .list-item {
        padding: 1.2rem 0;
      }
    }
    .sub-cards {
      font-size: 1.25rem;

      .sub-card {
        margin-top: 5rem;
        &__table {
          .sub-card__table-header,
          .sub-card__table-data {
            padding: 12.5px;
          }
        }
      }
    }
  }
  .check {
    font-size: 1.675rem;
    width: 800px;
    .check-table {
      font-size: 1.5rem;
      &__header,
      &__data {
        padding: 12.5px 5px;
      }
    }
  }
  .timesheet {
    width: 800px;
    &__entry {
      font-size: 1.475rem;
      .entry-times-container {
        .entry-data {
          width: 125px;
          &::before {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
  .add {
    width: 800px;
    .entry {
      font-size: 1.5rem;
      gap: 1rem;
      &__group {
        gap: 0.75rem;
      }
      &__button {
        margin-top: 1.25rem;
      }
    }
  }
  .entry__edit {
    width: 85px;
  }
  // FOR NAV BAR
  .mobile-hide {
    display: block;
  }
  .page-header__mobile {
    pointer-events: none;
  }
  .page-header__mobile[data-icon="open"],
  .page-header__mobile[data-icon="close"] {
    opacity: 0;
    cursor: default;
  }

  .mobile-links {
    border: none;
    background-color: transparent;

    &__list {
      position: absolute;
      display: flex;
      gap: 0.575rem;
      right: 1.5rem;
      top: calc(1.5rem + 1.5rem);
      font-size: 0.9125rem;
      margin: 0;
    }
  }
}
