@mixin borders($line-width: 2px, $color) {
  border: $line-width solid $color;
  border-radius: $borderRadius;
}

@mixin gridGap($gap: 1rem) {
  display: grid;
  gap: $gap;
}

// for index.html and create.html pages
@mixin loginContainer {
  @include borders(2px, $colorPrimaryContent);
  width: min(400px, 100vw - ($pageLeftRightPadding * 2));
  margin: 0 auto;
  margin-top: 25%;
  padding: 1.75rem;
  background-color: $colorSecondaryContent;
  font-size: $fsText;
}

@mixin contentContainer($padding: 0, $backgroundColor: $colorSecondaryContent) {
  @include borders(2.5px, $colorPrimaryContent);
  background-color: $backgroundColor;
  padding: $padding;
}
