// Fonts
$fontFamily: "Exo 2", sans-serif;

// Font sizes
$fsHeader: 2.5rem;
$fsText: 0.925rem;

// Font weights
$fwLight: 400;
$fwMedium: 500;
$fwBold: 600;

// Colors
$colorBackground: hsl(206, 9%, 15%);
$colorPrimaryContent: hsl(0, 100%, 100%);
$colorSecondaryContent: hsl(204, 2%, 43%);
$colorAccent: hsl(120, 60%, 60%);
$colorOutline: hsl(100, 100%, 40%);

// Paddings
$pageLeftRightPadding: 1.5rem;

// Margins
$pageTop: 25vh;

// Element sizes
$mobileImageSize: 55px;

// Border radius
$borderRadius: 0.675rem;
