@import "./variables";
@import "./reset";
@import "./mixins";
@import "./header";
@import "./button";
@import "./mobileLinks";

body {
  font-family: $fontFamily;
  min-height: 100vh;
  background-color: $colorBackground;
  margin-inline: $pageLeftRightPadding;
}
a {
  text-decoration: none;
}

// Index page
@import "./index";

// Create page
@import "./create";

// Dashboard page
@import "./dashboard";

@import "./hide";
@import "./active";
