@import "./variables";
@import "./reset";
@import "./mixins";
@import "./header";
@import "./button";
@import "./mobileLinks";
@import "./classes";
@import "./table";

body {
  font-family: $fontFamily;
  min-height: 100vh;
  background-color: $colorBackground;
  margin-inline: $pageLeftRightPadding;
}
a {
  text-decoration: none;
}

// Index page
@import "./index";

// Create page
@import "./create";

// Dashboard page
@import "./dashboard";

// Account info page
@import "./account-info";

// Paycheck calculator page
@import "./check-calculator";

// Timesheet page
@import "./timesheet";

// Class modifiers
@import "./hide";
@import "./active";
