*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
  --ff: "Exo 2", sans-serif;
  --background-color: hsl(206, 9%, 15%);
  --primary-color: hsl(204, 2%, 43%);
  --accent-color: hsl(0, 100%, 100%);
  --money-color: hsl(120, 60%, 60%);
  --outline-color: hsl(200, 100%, 40%);
}

/* General purpose styling */
body {
  color: var(--background-color);
  font-family: var(--ff);
  min-height: 100vh;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.logo {
  width: 55px;
}
.page-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--accent-color);
}
/* For mobile viewing */
.mobile-icon {
  cursor: pointer;
}
.mobile-icon[data-icon="open"],
.mobile-icon[data-icon="close"] {
  width: 55px;
  height: 55px;
  background-size: contain;
}
.mobile-icon[data-icon="open"] {
  background-image: url(../images/hamburger.svg);
}
.mobile-icon[data-icon="close"] {
  z-index: 9999;
  background-image: url(../images/x.svg);
}
.links-container {
  z-index: 999;
  position: absolute;
  color: var(--accent-color);
  background-color: var(--primary-color);
  inset: 0 0 0 20vw;
}
.links-container > ul > a {
  text-decoration: none;
  color: var(--accent-color);
}
.mobile-list {
  font-size: 1.25rem;
  text-transform: uppercase;
  list-style: none;
  display: grid;
  margin-top: 50%;
  margin-left: 3rem;
  gap: 3rem;
}
ul > li {
  cursor: pointer;
}
.links-container > ul > a:hover {
  color: var(--background-color);
}
.icon-hide {
  display: none;
}
.names-container {
  display: flex;
  width: 107.5%;
}
.names > input {
  width: 85%;
}
/* index.html + create.html main container styling*/
.main-container {
  --bordo-radius: 0.675rem;
  border: 2px solid var(--accent-color);
  border-radius: var(--bordo-radius);
  width: 400px;
  max-width: 400px;
  display: grid;
  margin: 0 auto;
  margin-top: 25%;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
}
/* form(s) styling */
.form {
  display: grid;
  gap: 2.5rem;
}
.input-container {
  display: grid;
  grid-auto-flow: row;
  gap: 1.25rem;
}
.label-input {
  display: grid;
  gap: 0.375rem;
}
.form-input {
  outline: none;
  border: 0;
  /* box-shadow: 0 0 0 2px var(--primary-color); */
  border-radius: calc(var(--bordo-radius) * 0.25);
  padding: 0.25em;
}
.form-input:focus {
  box-shadow: 0 0 0 2px var(--outline-color);
}
.fake-button {
  text-decoration: none;
  text-align: center;
}
.btn,
.fake-button {
  cursor: pointer;
  border: 0;
  padding: 0.5em 0;
  border-radius: var(--bordo-radius);
  background-color: var(--background-color);
  color: var(--accent-color);
}
.btn:hover,
.btn:focus-visible,
.fake-button:hover,
.fake-button:focus-visible {
  background-color: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0 0 0 2px var(--background-color);
}
/* Creating user page styling */
.new-user {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
}
/* Thanks "page"/confirmation alert styling */
.thanks-container {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.thanks-text {
  font-size: 2rem;
  color: var(--primary-color);
}
.thanks-container > .fake-button {
  background-color: var(--primary-color);
  border-radius: 0.675rem;
}
/* Main dashboard of logged in user styling */
.dashboard-body {
  color: var(--accent-color);
}
.welcome-message {
  margin-top: 6.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.punch-container {
  margin-top: 7.5rem;
  display: grid;
  text-align: center;
  gap: 1rem;
}
/* Styling for clock display */
.date-time-container,
.dashboard-btn {
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.date-time-container {
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--primary-color);
}
.time-block {
  margin-bottom: 0.375rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--money-color);
}
/* .date-block {
  color: var(--background-color);
} */
.dashboard-btn {
  cursor: pointer;
  color: var(--background-color);
  border: 0;
  font-size: 1rem;
  padding: 0.5em 0;
  background-color: var(--accent-color);
}
.dashboard-btn:hover,
.dashboard-btn:focus-visible {
  background-color: var(--primary-color);
  color: var(--accent-color);
  box-shadow: 0 0 0 2px var(--accent-color);
}
/* Timesheet styling */
.entries {
  --radius: 10px;
  width: min(90vw, 650px);
  margin: 0 auto;
  display: grid;
  border-radius: var(--radius);
}
.entries[data-empty="false"] {
  gap: 1rem;
}
.timesheet-body > .entries {
  margin-top: 5vh;
}
.week-of {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
  color: var(--accent-color);
  border: 3px solid var(--primary-color);
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.entry {
  --side-padding: 0.75rem;
  border: 2px solid var(--accent-color);
  border-radius: var(--radius);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.4fr 1fr 0.25fr;
  gap: 1rem;
  padding: 0.75rem var(--side-padding);
  background-color: var(--primary-color);
  color: var(--accent-color);
  text-align: center;
  font-weight: 600;
}

.entry-date {
  border-right: 2px solid var(--accent-color);
}
.entry-data {
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: var(--radius);
  text-align: left;
  padding-left: 0.15rem;
}
.entry-date,
.entry-data,
.total-time,
.edit-entry {
  display: grid;
  align-items: center;
}
.entry-times {
  display: grid;
}
.entry-times-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.entry-data {
  position: relative;
  width: min(50%, 100px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.entry-lunch > .entry-data {
  margin-top: 0.5rem;
}
.entry-data::before {
  content: "";
  position: absolute;
  top: -60%;
  left: 0;
  color: var(--accent-color);
}
.entry-clock-in::before {
  content: "Clock In";
}
.entry-clock-out::before {
  content: "Clock Out";
}
.entry-lunch-in::before {
  content: "Lunch In";
}
.entry-lunch-out::before {
  content: "Lunch Out";
}
.entry-lunch[data-lunch="false"] {
  display: none;
}
.total-time {
  font-size: 0.8rem;
  border-left: 2px solid var(--accent-color);
  padding-left: calc(var(--side-padding) / 2);
  color: var(--money-color);
}
/* Manual punch page styling */
.add-main-content {
  color: var(--accent-color);
  /* text-align: center; */
  margin-top: 5vh;
  display: grid;
  gap: 3.5rem;
}
.manual-entry {
  display: grid;
  gap: 0.5rem;
  width: 50%;
  margin: 0 auto;
}
.input-group {
  display: grid;
  gap: 0.25rem;
}
.form-input.edit {
  box-shadow: 0 0 0 2px var(--background-color);
}
.form-input.edit:focus {
  box-shadow: 0 0 0 2px var(--outline-color);
}
.entry-titles {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 3px solid var(--primary-color);
  padding: 0.5rem 0;
  margin-inline: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.add-form-btn {
  margin-top: 0.5rem;
}
/* .add-form-btn:hover,
.add-form-btn:focus-visible {
  background-color: var(--background-color);
  color: var(--accent-color);
} */
.edit-entry {
  cursor: pointer;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 0 2px var(--accent-color);
  border: 0;
  color: var(--accent-color);
  background-color: var(--primary-color);
}
.edit-entry:hover {
  box-shadow: 0 0 0 2px var(--background-color);
  color: var(--background-color);
}
/* Check calculator styling */
.check-calculator-body {
  color: var(--accent-color);
}
.check-calculator-body > main {
  margin-inline: 1.5rem;
}

.check-titles {
  margin-bottom: 1.55rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 3px solid var(--primary-color);
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 600;
}

.current-check {
  margin-top: 5vh;
  margin-bottom: 5rem;
}
.current-check-container {
  display: grid;
  grid-auto-flow: column;
}
.check-form {
  display: grid;
  gap: 0.5rem;
}
.check-group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.2fr 0.5fr;
}
.check-group > input {
  width: 100px;
}
.check-btn {
  margin-left: 0;
  margin-top: 0.5rem;
}
.check-result {
  display: grid;
}
.result-title {
  font-size: 1.125rem;
  font-weight: 600;
}
.check-calculation {
  color: var(--money-color);
  font-weight: 600;
}
table {
  text-align: center;
  margin: 0 auto;
}
th {
  font-weight: 600;
}
table,
th,
td {
  border: 2px solid var(--accent-color);
  border-collapse: collapse;
}
th,
td {
  padding: 0.375rem 0.5rem;
}
/* Account info styling */
.account-info-body > main {
  color: var(--accent-color);
  margin-inline: 1.5rem;
}
.list-item {
  list-style: none;
}
.main-card {
  --brdr-radius: 10px;
  margin-top: 5vh;
  /* height: min(50vh, 700px); */
  padding: 1rem;
  background-color: var(--primary-color);
  border: 5px solid var(--accent-color);
  border-radius: var(--brdr-radius);
}

.main-links {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  width: 62.5%;
  margin: 0 auto;
}

.list-item {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: var(--brdr-radius);
  height: 30px;
}
.card {
  padding: 1rem;
  border: 2.5px solid var(--accent-color);
  margin-top: 1rem;
  border-radius: var(--brdr-radius);
  background-color: var(--background-color);
}
.item-content {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 0.25rem;
}
.sub-card-item {
  padding: 7.5px;
}
.sub-card {
  margin-top: 0.75rem;
}
.position-responsibilities,
.department-list {
  list-style-position: inside;
}
.active {
  background-color: var(--money-color);
}
/* Hiding elements styling */
.hide {
  display: none;
}
.hide-element {
  opacity: 0;
  cursor: default;
}
/* Active elements styling */
.active-page {
  color: var(--background-color);
}
